.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.firstTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.secondTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}
