.timeBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    padding: 5px 15px;
}

.timeNotChoice {
    border: 1px solid rgba(136, 136, 136, 1);
}

.timeChoice {
    border: 2px solid black;
}

.time {

}