.allServices {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}


.firstBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 auto;
}
