.wrapperBlock {
    width: 100%;
    height: 56px;
    padding: 16px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: black;
    border: 1px solid #6D6D6D;
    border-radius: 20px;
}