.blockInfo {
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 20px;
    padding: 0 0 0 10px;
}

.choiceBlock {
    border: 2px solid black;
}

.notChoiceBlock {
    border: 1px solid rgba(109, 109, 109, 1);
}

.imgBlock {
    width: 30%;
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 8px;
    width: 70%;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.titleStocks {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.buttonBlockInfo {
    border-radius: 8px;
    text-align: center;
    background-color: #996C59;
    color: white;
    height: 32px;
    width: 100%;
}

.price {
    font-size: 20px;
    line-height: 22px;
}